.search-form {
  margin-bottom: 20px;
  background-color: #FF4500;
  padding: 20px;
  border-radius: 10px;
}

.search-form input {
  padding: 10px;
  width: 300px;
  font-size: 20px;
  font-weight: 500;
  border: 2px solid #005247;
  border-radius: 10px;
  color: #FF4500;
}

.search-form input::placeholder {
  color: #FF4500; /* This will change the placeholder text color to black (#333333) */
  font-weight: 500;
  opacity: 1.0; /* Ensures full opacity, you can adjust this if needed */
}

/*
.search-form input placeholder {
  padding: 10px;
  width: 300px;
  font-size: 16px;
  border: 2px solid #005247;
  border-radius: 10px;
}
  */

.search-form button {
  padding: 10px 20px;
  font-size: 16px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #005247;
  border: none;
  color: white;
  border-radius: 10px;
  transition: background-color 0.3s;
  letter-spacing: 0.7px;
}

.search-form button:hover {
  background-color: #408477;
}


@media (max-width: 768px) {
  .search-form input {
    width: 250px;
    font-size: 18px;
  }
  
  .search-form button {
    padding: 8px 15px;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .search-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .search-form input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .search-form button {
    width: 100%;
    margin-left: 0;
  }
}